:root {
  --bg-color: #fafafa;
  --app-color: #343a40;
  --size-header: 6em;
  --size-info: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h3, h4, h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: 600;
}

h5 {
  font-weight: 500;
  font-size: 1.25rem;
}

h4 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

.main {
  background-color: var(--bg-color);
  min-height: 100vh;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  height: var(--size-header);
  background-color: var(--app-color);
}

header h1 {
  display: inline;
  color: white;
  font-family: sans-serif;
  margin-left: 2em;
  margin-right: 2em;
}

header div {
  display: flex;
  align-items: center;
}

.input-group input {
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 10px;
  height: 2.5em;
}

.input-group input:focus {
  border: none;
}

.input-group button {
  border: none;
  border-radius: 0 3px 3px 0;
  height: 2.5em;
  width: 5em;
  color: white;
  font-family: inherit, sans-serif;
  font-weight: 500;
  background-color: rgb(250, 116, 67);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-info);
}

.info .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  margin-top: 1.5em;
}

.info .container .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info .panel {
  display: flex;
  overflow: auto;
  border-top: 1px solid #a6a8ac;
  border-bottom: 1px solid #a6a8ac;
  gap: 1em;
}

.info .panel .hours-weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.info .panel .hours-weather * {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.weather-panel {
  font-size: 1.5rem;
}