:root {
  --bg-color: #fafafa;
  --app-color: #343a40;
  --size-header: 6em;
  --size-info: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: var(--bg-color);
  min-height: 100vh;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  height: var(--size-header);
  background-color: var(--app-color);
}

header h1 {
  display: inline;
  color: white;
  font-family: sans-serif;
  margin-left: 2em;
  margin-right: 2em;
}

header div {
  display: flex;
  align-items: center;
}

.input-group input {
  border: none;
  border-radius: 3px 0 0 3px;
  padding: 10px;
  height: 2.5em;
}

.input-group input:focus {
  border: none;
}

.input-group button {
  border: none;
  border-radius: 0 3px 3px 0;
  height: 2.5em;
  width: 5em;
  color: white;
  font-family: inherit, sans-serif;
  font-weight: 500;
  background-color: rgb(250, 116, 67);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--size-info);
}

.info .container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 80%;
  margin-top: 1.5em;
}

.info .container .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
